@import "tailwindcss";
body{
    font-family: "Aldrich", "poppins";
}

/*  fuck ms-edge revealing password icon, we use custom one*/
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
}
