@import "tailwindcss";
body{
    font-family: "poppins";
}



/*  fuck ms-edge revealing password icon, we use custom one*/
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
}


@keyframes progress-grow {
  from { width: 0%; }
  to { width: var(--final-width); }
}

.animated-progress {
  animation: progress-grow 1.5s ease-out forwards;
  animation-delay: 0.3s;
}